<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Register</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="register.js"></script>
        <style>
            html,body{
              margin:0;
              padding:0;
              height:95%;
              width:100%;
              background: url("IMG_0561.JPG");
            }
            
            .content{
              max-width: width 500px;
              margin:0 auto;
              text-align: center;
            }

            #mainNav{
                background-color:  #212529;
            }
    
            #mainNav .navbar-toggler {
              font-size: 12px;
              right: 0;
              padding: 13px;
              text-transform: uppercase;
              color: white;
              border: 0;
              
              font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            }

            #mainNav .navbar-brand {
              color: white;
              font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial;
            }
            
            .nav-link{
              color: white;
            }

            #mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
              color: white;
            }

            #footer-black{
                /* position: fixed; */
                left: 0;
                bottom: 0;
                background-color:black;
                box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
                box-sizing: border-box;
                width: 100%;
                text-align: left;
                font: bold 16px sans-serif;
                padding: 25px 0;
                margin-top: 80px;
            }      
                
            .product-tabs {
                position: relative;
            }

            .nav-tabs {
                text-align: center;
                margin-top: 40px;
                border-bottom: 3px solid #ddd;
                color: white;
            }

            .nav-tabs > li {
                float: none;
                display: inline-block;
                margin-bottom: -3px;
                
            }

            .nav-tabs>li>a:hover {
                border-color: #eee #eee #ddd;
                border-color: transparent;
                background-color: transparent;
            }

            .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
                border: 1px solid transparent;
                border-bottom-color: #d51335;
                border-bottom-width: 3px;
            }

            .tab-pane{
                padding: 10px;
            }

            .tab-control .previous-button, .tab-control .next-button{
                position: absolute;
                top: 25%;
            }

            .tab-control .previous-button{
                left: 10%;
            }

            .tab-control .next-button{
                right: 10%;
            }

            #box-container{
                width:600px;
                height: 950px;
                background: white;
                opacity:0.9;
                border-radius: 10px;
            }

        </style>
        <nav id="mainNav">
            <div class="container-fluid">
              <div class="navbar-header">
                <!-- <a class="navbar-brand" href="#">WebSiteName</a>  -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
                </button>
              </div>
              <ul class="nav navbar-nav">
                <li class="active"><a class="navbar-brand js-scroll-trigger" href="Halaman_Utama.html">Home</a></li>
                <li><a class="nav-link js-scroll-trigger" href="#list-beasiswa">List Beasiswa</a></li>
                <li><a class="nav-link js-scroll-trigger" href="#pengumuman">Pengumuman</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Register</a></li> -->
                <li><a href="{% url 'login:login' %}" class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              </ul>
            </div>
          </nav>
</head>
<body>
    <br>
    <div class="container" >
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 style="color:white">
                    <strong> Registrasi </strong>
                </h1>
            </div>
        </div>
        <br>
        <fieldset>
        <div class="row">
            <div class="col-sm-12 product-tabs" id="box-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">Mahasiswa</a></li>
                    <li class=""><a href="#tab2" data-toggle="tab">Donatur Individual</a></li>
                    <li class=""><a href="#tab3" data-toggle="tab">Donatur Yayasan</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <form id=login-form method="POST">
                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label required" for="username"> Username<sup style="color:red">*</sup></label>
                                    <input id="name" name="name" type="text" class="form-control" placeholder="Enter Your Name">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label required" for="password">Password<sup style="color:red">*</sup></label>
                                    <input id="pass" name="pass" type="password" class="form-control" placeholder="Enter Password">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label required" for="npm">NPM<sup style="color:red">*</sup></label>
                                    <input id="npm" name="npm" type="text" class="form-control" placeholder="Enter NPM">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label required" for="email">Email<sup style="color:red">*</sup></label>
                                    <input id="email" name="email" type="text" class="form-control" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                              <div class="form-group">
                                  <label class="control-label required" for="nama_lengkap"> Nama Lengkap<sup style="color:red">*</sup></label>
                                  <input id="fname" name="fname" type="text" class="form-control" placeholder="Enter Your Full Name">
                              </div>
                          </div>
                          <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                              <div class="form-group">
                                  <label class="control-label required" for="phone">Nomor Telepon<sup style="color:red">*</sup></label>
                                  <input id="phone" name="phone" type="text" class="form-control" placeholder="Enter Mobile Number">
                              </div>
                          </div>
                          <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                              <div class="form-group">
                                  <label class="control-label required" for="alamat_tinggal">Alamat Tempat Tinggal<sup style="color:red">*</sup></label>
                                  <input id="laddress" name="laddress" type="text" class="form-control" placeholder="Enter Address">
                              </div>
                          </div>
                          <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                              <div class="form-group">
                                  <label class="control-label required" for="alamat_domisili">Alamat Domisili<sup style="color:red">*</sup></label>
                                  <input id="dom" name="dom" type="text" class="form-control" placeholder="Domisili">
                              </div>
                          </div>
                          <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label required" for="instansi_bank">Instansi Bank<sup style="color:red">*</sup></label>
                                <input id="bank" name="bank" type="text" class="form-control" placeholder="BNI, BRI, BCA, dll">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                          <div class="form-group">
                              <label class="control-label required" for="no_rek">Nomor Rekening<sup style="color:red">*</sup></label>
                              <input id="no_rek" name="no_rek" type="text" class="form-control" placeholder="No.Rek">
                          </div>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="control-label required" for="nama_rek">Nama Pemilik <sup style="color:red">*</sup></label>
                            <input id="nama_rek" name="nama_rek" type="text" class="form-control" placeholder="Nama untuk nomor rekening">
                        </div>
                    </div>
                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                <input type="submit" class="button"></input>
                            </div>
                        <br>   
                  </form>
                    </div>
                    <div class="tab-pane" id="tab2">
                            <form id="donatur-individual" method="post" role="form" action="https://phpoll.com/register/process">
                                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label required" for="username"> Username<sup style="color:red">*</sup></label>
                                        <input id="name" name="name" type="text" class="form-control" placeholder="Enter Your Name">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label required" for="password">Password<sup style="color:red">*</sup></label>
                                        <input id="pass" name="pass" type="password" class="form-control" placeholder="Enter Password">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label required" for="no_is">Nomor Identitas<sup style="color:red">*</sup></label>
                                        <input id="no_id" name="no_id" type="text" class="form-control" placeholder="Enter 12 digit id">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label required" for="nik">NIK<sup style="color:red">*</sup></label>
                                            <input id="nik" name="nik" type="text" class="form-control" placeholder="NIK">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label required" for="email">Email<sup style="color:red">*</sup></label>
                                                <input id="email" name="email" type="text" class="form-control" placeholder="Email">
                                            </div>
                                        </div>
                                    <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                      <div class="form-group">
                                          <label class="control-label required" for="nama_lengkap"> Nama Lengkap<sup style="color:red">*</sup></label>
                                          <input id="fname" name="fname" type="text" class="form-control" placeholder="Enter Your Full Name">
                                      </div>
                                  </div>
                                  <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label required" for="npwp">NPWP<sup style="color:red">*</sup></label>
                                            <input id="npwp" name="npwp" type="text" class="form-control" placeholder="Enter 12 digit npwp">
                                        </div>
                                    </div>
                                  <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                      <div class="form-group">
                                          <label class="control-label required" for="phone">Nomor Telepon<sup style="color:red">*</sup></label>
                                          <input id="phone" name="phone" type="text" class="form-control" placeholder="Enter Mobile Number">
                                      </div>
                                  </div>
                                  <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                      <div class="form-group">
                                          <label class="control-label required" for="individual_alamat">Alamat Lengkap<sup style="color:red">*</sup></label>
                                          <input id="iaddress" name="iaddress" type="text" class="form-control" placeholder="Enter Address">
                                      </div>
                                  </div>
                                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                    <input type="submit" class="button"></input>
                                </div> 
                            </form>
                            <br>
                    </div>
                    <div class="tab-pane" id="tab3">
                            <form id="donatur-yayasan"  method="post" role="form" action="https://phpoll.com/register/process">
                                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label required" for="username"> Username <sup style="color:red">*</sup></label>
                                            <input id="name" name="namaDY" type="text" class="form-control" placeholder="username">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label required" for="password">Password<sup style="color:red">*</sup></label>
                                            <input id="pass" name="passDY" type="password" class="form-control" placeholder="Enter Password">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label required" for="no_is">Nomor Identitas<sup style="color:red">*</sup></label>
                                            <input id="no_id" name="no_id_DY" type="text" class="form-control" placeholder="Enter 12 digit id">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label required" for="no_SK">Nomor SK Yayasan<sup style="color:red">*</sup></label>
                                                <input id="no_sk" name="no_sk_DY" type="text" class="form-control" placeholder="SK">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label class="control-label required" for="email">Email<sup style="color:red">*</sup></label>
                                                    <input id="email" name="email" type="text" class="form-control" placeholder="Email">
                                                </div>
                                            </div>
                                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                          <div class="form-group">
                                              <label class="control-label required" for="nama_lengkap"> Nama Yayasan<sup style="color:red">*</sup></label>
                                              <input id="fname" name="fname" type="text" class="form-control" placeholder="Enter Your Full Name">
                                          </div>
                                      </div>
                                      <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label required" for="cp_phone">Nomor Telepon Contact Person<sup style="color:red">*</sup></label>
                                                <input id="cp_phone" name="cp_phone" type="text" class="form-control" placeholder="Enter Mobile Number">
                                            </div>
                                        </div>
                                      <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label required" for="npwp">NPWP<sup style="color:red">*</sup></label>
                                                <input id="npwp" name="npwp" type="text" class="form-control" placeholder="Enter 12 digit npwp">
                                            </div>
                                        </div>
                                      <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                          <div class="form-group">
                                              <label class="control-label required" for="alamat_yayasan">Alamat Yayasan<sup style="color:red">*</sup></label>
                                              <input id="yaddress" name="yaddress" type="text" class="form-control" placeholder="Enter Address">
                                          </div>
                                      </div>
                                      <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                        <input type="submit" class="button"></input>
                                        </div> 
                                </form>
                                <br>
                    </div>
                </div>
                <div class="tab-control">
                    <a class="previous-button" role="button"><i class="fa fa-angle-left fa-3x fa-fw"></i></a>
                    <a class="next-button" role="button"><i class="fa fa-angle-right fa-3x fa-fw"></i></a>
                </div>
            </div>
        </fieldset>
    </div>
    </div>
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $('.next-button').click(function(){
            $('.nav-tabs > .active').next('li').find('a').trigger('click');
            //trigger the click on the tab same like we click on the tab
        });
        $('.previous-button').click(function(){
            $('.nav-tabs > .active').prev('li').find('a').trigger('click');
            //trigger the click on the tab same like we click on the tab
        })
    </script>
</body>

<footer id="footer-black">
<div>
    <div class="container">
        <div class="row">
                <p>© Copyright 2018. K18Basdat. All Rights Reserved. <span class="pull-right"><a href="#">Privacy</a> | <a href="#">ToS</a> | <a href="#">Contact</a></span></p>
        </div>
    </div>
</div>
</footer>

</html>


