<!DOCTYPE html>
<html lang = "en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet'>
    <style>
	    html,body{
	    background :url("IMG_0635 (2).JPG");
	    background-size: cover;
	    }
	</style>
	<title>Form Pendaftaran Beasiswa</title>

	<header>
		<nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <!-- <a class="navbar-brand" href="#">WebSiteName</a>  -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                    </button>
                  </div>
                  <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">List Beasiswa</a></li>
                    <li><a href="#">Pengumuman</a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span>Mahasiswa</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>
                  </ul>
                </div>
              </nav>
	</header>
</head>
<body>
	<div class="container judul-form-pendaftaran-beasiswa">
		<div class="container text-left" style="margin-top: 40px;">
				Form Pendaftaran Beasiswa
		</div>
	</div>

	<div class="container">
		<table class="table table-stripped text">
			<tbody>
				<tr>
					<td>
						<form action="/daftar/submit-beasiswa" method="POST" class="form-horizontal">
              {% csrf_token %}
							<div class="form-group">
								<label class="col-md-4 control-label">Kode Beasiswa</label>
							     <div class="col-md-8 inputGroupContainer">
                         		<div class="input-group">
                         			<select class="selectpicker form-control" name="kode_beasiswa">
                         			    {% if kode_beasiswa == 0 %}
                                    <option value="" disabled selected>Select your option</option>
                                  {% else %}
                                    <option value="{{kode_beasiswa}}" selected>{{kode_beasiswa}} - {{nama_kode}}</option>
                                  {% endif %}
                                  {% for kode in kode_beasiswa_aktif %}
                                    <option value="{{kode.0}}">{{kode.0}} - {{kode.1}}</option>
                                  {% endfor %}
                         			</select>
                         			<br>
                         		</div>
                         		<br>
                         	</div>
                         	<br>
                         	<div class="form-group">
      							<label class="col-md-4 control-label" for="npm">NPM</label>
                    <input hidden name="npm" type="text" value="{{ npm }}"></input>
      						<div class="col-md-8">
       							 <p class="form-control-static">{{npm}}</p>
     						 </div>
    						</div>
    						<div class="form-group">
      							<label class="col-md-4 control-label" for="email">Email</label>
      						<div class="col-md-8">
       							 <p class="form-control-static">{{email}}</p>
                     <input hidden name="email" type="email" value="{{ email }}"></input>
     						</div>
     						<div class="form-group">
     							<label class="col-md-4 control-label" for="ip">Indeks Prestasi Semester</label>
     						<div class="col-md-8 inputGroupContainer">
     							<div class="input-group"><input id="ip" name="ip" placeholder="Indeks Prestasi Semester" class="form-control" required type="text"></div>
     						</div>
					</td>
				</tr>
			</tbody>
		</table>

		<div class="container text-center">
			<input type="submit" class="btn btn-info" value="Submit">
		</div>
		</div>
	</div>

	<br>
	<br>
	<br>
</body>
</html>

<style>
	.judul-form-pendaftaran-beasiswa{
          font-family:'Playfair Display';
          font-size: 35px;
    }
    .input-group{
		width: 300px;
	}
    .btn{
    	padding: 10px;
    	width: 100px;
    }
</style>