<!DOCTYPE html>
<html lang = "en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet'>
	<title>Form Pendaftaran Paket Beasiswa</title>

  <header>
    <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <!-- <a class="navbar-brand" href="#">WebSiteName</a>  -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                    </button>
                  </div>
                  <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Lihat Beasiswa Anda</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle active" data-toggle="dropdown">Membuat Beasiswa Baru<span class="caret"></span></a>       
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Membuat Paket Beasiswa Baru</a></li>
                          <li><a href="#">Menambahkan Beasiswa Baru dari Paket</a></li>
                        </ul>                
                   </li>
                   <li><a class="nav-link js-scroll-trigger" href="#">Membuat Pengumuman</a></li>
                   <li><a href="#">Lihat Beasiswa Anda</a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span>Donatur</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>
                  </ul>
                </div>
              </nav>
  </header>

</head>
<body>
	
	<div class="container">
		<div class="container text-center" style="margin-top: 40px;">
			<h1 class = "text-center">
				<strong>Form Pendaftaran Tambah Beasiswa dari Paket</strong>
			</h1>
		</div>

	<div class = "container text-left">
		<table class=" table table-stripped text text-left">
			<tbody>
				<tr>
					<td>
						<form action="/pendaftaran-beasiswa/post-form-tambah" method="POST" class="well form-horizontal">
              {% csrf_token %}
                <div class="form-group">
                  <label for = "kode" class="col-md-4 control-label">Kode Beasiswa</label>
                    <div class="col-md-8 inputGroupContainer">
                      <div class="input-group"><span class = "input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
                        <select name = "kode" class="selectpicker form-control">
                          <option value="" disabled selected>Kode</option>
                          {% for kode in kodes %}
                          <option value="{{kode.0}}">{{kode.0}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                </div>
								<div class ="form-group">
									<label for = "no_urut" class="col-md-4 control-label">Nomor Urut</label>
								    <div class="col-md-8 inputGroupContainer">
                      <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                        <input id="no_urut" name="no_urut" placeholder="Nomor Urut" class="form-control" required type="text">
                      </div>
                    </div>
                </div>
                <div class = "form-group">
                  <label for = "tgl_mulai" class="col-md-4 control-label">Tanggal Mulai Pendaftaran</label>
                    <div class="col-md-8 inputGroupContainer">
                      <div class="input-group"><span class = "input-group-addon"><i class ="glyphicon glyphicon-calendar"></i></span>
                        <input id ="tgl_mulai" name ="tgl_mulai" placeholder = "Tanggal" class = "form-control" required type="date">
                      </div> 
                    </div>
                </div>
                <div class = "form-group">
                  <label for="tgl_tutup" class="col-md-4 control-label">Tanggal Tutup Pendaftaran</label>
                    <div class="col-md-8 inputGroupContainer">
                      <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        <input id= "tgl_tutup" name ="tgl_tutup" placeholder = "Tanggal" class= "form-control" required type="date">
                      </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="container text-center">
									<input type="submit" class="btn btn-info" value="Submit">
								</div>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>

<style>
	.input-group{
		width: 300px;
	} 
  html,body{
    background: url("IMG_0635 (1).jpg");
    background-size: cover;
  }
  .table-striped, table{
      width: 100px;
      opacity: 0.95;
  }
  .btn{
    width: 150px;
    padding: 10px;    
  } 
  h1{
      font-family:'Playfair Display';
      font-size: 45px;
      color: #090431;
  }
  .form-group{
    font-family: 'Montserrat';
  }


</style>