<!DOCTYPE html>
<html lang = "en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  	<link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet'>

	<title>Form Pendaftaran Paket Beasiswa</title>
</head>
<body>
	<header>
		 <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <!-- <a class="navbar-brand" href="#">WebSiteName</a>  -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                    </button>
                  </div>
                  <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Lihat Beasiswa Anda</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle active" data-toggle="dropdown">Membuat Beasiswa Baru<span class="caret"></span></a>       
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Membuat Paket Beasiswa Baru</a></li>
                          <li><a href="#">Menambahkan Beasiswa Baru dari Paket</a></li>
                        </ul>                
                   </li>
                   <li><a class="nav-link js-scroll-trigger" href="#">Membuat Pengumuman</a></li>
                   <li><a href="#">Lihat Beasiswa Anda</a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span>Donatur</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>
                  </ul>
                </div>
              </nav>
	</header>

	<div class="container">
		<div class="container text-center" style="margin-top: 40px;">
			<h1 class = "text-center"><strong>
				Form Pendaftaran Paket Beasiswa</strong>
			</h1>
      {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <p class="w3-text-red">{{ message }}</p>
      </div>
    {% endfor %}

		</div>

	<div class = "container text-right">
		<table class=" table table-stripped text text-right">
			<tbody>
				<tr>
					<td>
						<form action="/pendaftaran-beasiswa/post-form-pendaftaran" method="POST" class="well form-horizontal">
								 {% csrf_token %}
								<div class ="form-group">
									<label for="kode" class="col-md-4 control-label">Kode</label>
									<div class="col-md-8 inputGroupContainer">
                               			<div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                               				<input id="kode" name="kode" placeholder="Kode" class="form-control" required  type="text"></div>
                            		</div>
                         		</div>
                         		<div class = "form-group">
                         			<label for="nama" class="col-md-4 control-label">Nama Paket Beasiswa</label>
                         			<div class="col-md-8 inputGroupContainer">
                         				<div class="input-group"><span class = "input-group-addon"><i class ="glyphicon glyphicon-education"></i></span>
                         					<input id ="nama_beasiswa" name ="nama_beasiswa" placeholder = "Nama Beasiswa" class = "form-control" required type="text"></div> 
                         			</div>
                         		</div>
                         		<div class="form-group">
                         			<label for="jenis" class="col-md-4 control-label">Jenis Paket Beasiswa</label>
                         			<div class="col-md-8 inputGroupContainer">
                         				<div class="input-group"><span class = "input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
                         					<select class="selectpicker form-control" name="jenis">
                         						<option value="" disabled selected>Jenis beasiswa</option>
                         						<option value="Bantuan belajar">Bantuan belajar</option>
                         						<optionv value="Bea kurang mampu">Bea kurang mampu</option>
                         						<option value="Beasiswa penghargaan">Beasiswa penghargaan</option>
                         						<option>Beasiswa penuh</option>
                         						<option>Beasiswa prestasi</option>
                         					</select>
                         				</div>
                         			</div>
                         		</div>
                         		<div class = "form-group">
                         			<label for="deskripsi" class="col-md-4 control-label">Deskripsi</label>
                         			<div class="col-md-8 inputGroupContainer">
                         			<div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                         				<input id= "deskripsi" name ="deskripsi" placeholder = "Deskripsi" class= "form-control" required  type="text" name=""></div>
                         			</div>
                         		</div>
                         		<div class = "form-group">
                         			<label for="syarat" class="col-md-4 control-label">Syarat Beasiswa</label>
                         			<div class="col-md-8 inputGroupContainer">
                         			<div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-ok-circle"></i></span>
                         				<input id= "syarat" name ="syarat" placeholder = "Syarat Beasiswa" class= "form-control" required type="text" name=""></div>
                         			</div>
                         		</div>
                         		<br>
                         		<br>
                         		<div class="container text-center">
									<input type="submit" class="btn btn-info" value="Submit">
								</div>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>

<style>
	.input-group{
		width: 300px;
	}
	 html,body{
      background: url("IMG_0635 (1).jpg");
      background-size: cover;
    }
    .table-striped, table{
    	width: 95px;
    	opacity: 0.95;
    }
    .btn{
    	padding: 10px;
    	width: 150px;
    }
    h1{
    	font-family:'Playfair Display';
        font-size: 45px;
        color: #090431;
    }
    .form-group{
    	font-family: 'Montserrat';
    }
</style>